*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
}
.container{
    width: 100%;
    margin: 1% 0 1% 0;
}
.card{
    cursor: pointer;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 31%;
}
.card-image{
    position: relative;
    width: 100%;
    display: inline-block;
}
.img1{
    display: block;
    width: 100%;
}
.img2{
    display: none;
    width: 100%;
}
.cuore{
    position: absolute;
    font-size: 40px;
    top: 40px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
}
.card-image:hover .img2{
    display: block;
}
.card-image:hover .img1{
    display: none;
}
.card-promo{
    position: absolute;
    bottom: 30px;
}
.sconto{
    padding: 5px 5px;
    background-color: rgb(180, 3, 3);
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
}
.sostenibilità{
    padding: 5px 5px;
    background-color: rgb(14, 124, 0);
    display: inline-block;    
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}